<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content(Links.Content.themes.@base.jquery_ui_all_css)" rel="stylesheet" type="text/css" />
    <link href="@Url.Content(Links.Content.Site_css)" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="page">
        <header>
            <div id="title">
                <h1>
                    My MVC Application</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial(MVC.Shared.Views._LogOnPartial)
            </div>
            <nav>
                <ul id="menu">
                    <li><a href="@Url.Action(MVC.Home.Index())">Home</a></li>
                    <li><a href="@Url.Action(MVC.Home.About())">About</a></li>
                    <li><a href="@Url.Action(MVC.Demo.Order())">Demo</a></li>
                </ul>
            </nav>
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>

    <script src="@Url.Content(Links.Scripts.jquery_1_7_1_js)" type="text/javascript"></script>

    <script src="@Url.Content(Links.Scripts.jquery_ui_1_8_17_js)" type="text/javascript"></script>

    <script src="@Url.Content(Links.Scripts.jquery_validate_js)" type="text/javascript"></script>

    <script src="@Url.Content(Links.Scripts.jquery_validate_unobtrusive_js)" type="text/javascript"></script>

    @if (IsSectionDefined("Scripts"))
    { 
        @RenderSection("Scripts")
    }
</body>
</html>
